@model leave_management.Models.ViewAllocationVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Details For @Model.Employee.LastName, @Model.Employee.FirstName </h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.DateJoined)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.DateJoined)
        </dd>
    </dl>
</div>

<hr />
<h5>Leave Allocations</h5>
<div class="card">
    <ul class="list-group list-group-flush">
        @foreach (var item in Model.LeaveAllocations)
        {
            <li class="list-group-item">
                <h6>@item.LeaveType.Name <span class="badge bg-secondary">@item.NumberofDays</span> | <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.ID"><i class="fa fa-pencil"></i> Edit</a></h6>
            </li>
        }
    </ul>
</div>
<br />
<div>
    <a asp-action="ListEmployees" class="btn btn-outline-secondary btn-block">Back to List</a>
</div>
